@{
    ViewBag.Title = "เกี่ยวกับห้องพัก";
}
<br>
<br>
<h2>@ViewBag.Title.</h2>
<br>
<h4>ข้อมูลเบื้องต้น</h4>
<p> หอพักนักศึกษาชาย มหาวิทยาลัยสงขลานครินทร์
วิทยาเขตภูเก็ต สามารถรับนักศึกษาเพื่อเขาพักในหอพัก
นักศึกษาจํานวน 384 คน ทั้งนี้มหาวิทยาลัยฯ มีนโยบายให้
สิทธินักศึกษา ชั้นปีที่ 1 เขาพักในหอพักนักศึกษาชายก่อนและ
นักศึกษาชั้นปีอื่น ๆ ตามที่มหาวิทยาลัย เห็นสมควรใหเขาพัก
ตามความจําเป็นทั้งนี้ ให้เป็นไปตามประกาศของมหาวิทยาลัย
และหากมีห้องพักว่างมหาวิทยาลัย จะเปิดรับสมัครนักศึกษา
ชั้นปีอื่น ๆ</p>
<br>
<h4>ข้อมูลหอพักนักศึกษาชาย</h4>
    หอพักนักศึกษาชาย มหาวิทยาลัยสงขลานครินทร์
    วิทยาเขตภูเก็ต มีจํานวนห้องพัก 192 ห้อง รองรับนักศึกษาได้
    384 คน โดยมีห้องพักให้บริการ ดังต่อไปนี้
    • ห้องพักธรรมดา ( พักหองละ 2 คน )
    มีจํานวนห้องพัก 168 ห้อง รองรับได 336 คน
    • ห้องปรับอากาศ ( พักหองละ 2 คน )
    มีจํานวนหองพัก 24 ห้อง รองรับได้ 48 คน
    </p>
    <br>
<h4>การบริการรับ จดหมาย / เอกสาร / พัสดุ</h4>
<p>ตัวอย่าง การจ่าหน้าซองจดหมาย เอกสาร พัสดุ หอพักนักศึกษาชาย มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตภูเก็ต</p>
<div class="item">
    <img src="~/Content/Image/view.jpg" alt="Chania" style="width:400px; height:300px">
</div>
<br>
    <h4>กฎระเบียบหอพัก ( ข้อปฏิบัติและข้อห้าม )</h4>
    <p>
        1. นักศึกษาที่ได้รับอนุญาตให้เข้าพักอาศัย ให้แจ้งความ ประสงค์เข้าพักต่อเจ้าหนาที่ ณ สํานักงานหอพักนักศึกษาชาย
    </p>
    <p>
        2. นักศึกษาที่ได้รับอนุญาตให้เข้าพักอาศัย จะต้องลงนามในใบรับมอบ เพื่อตรวจเช็คครุภัณฑ์ สิ่งของภายในหองพักนั้นเสียก่อน และ เมื่อมหาวิทยาลัยประกาศปิดหอพักหรือเมื่อนักศึกษาจะต้องออกจากหอพักไปไม่ว่ากรณีใด ๆจะตอ้งส่งมอบสิ่งของและกุญแจหองพัก ให้เจ้าหน้าที่ตามวัน
        เวลาที่กําหนด หากมีสิ่งใดภายในหองชํารุดหรือเสียหายนักศึกษาผู้พักอาศัยในห้องนั้นจะตองรับผิดชอบชดใช้ตามราคาปัจจุบัน
    </p>

    <p>
        3. นักศึกษาต้องจัดหา หมอน ผาห่ม ผาปูที่นอนปลอกหมอน ผา้คลุมเตียง และ วัสดุอุปกรณ์เครื่องใชส่วนตัวมาเอง
    </p>
    <p>
        4. ต้องรักษาวัสดุครุภัณฑ์ของหอพักใหสะอาด คงสภาพเดิมและเป็นระเบียบเรียบรอย อย่างสม่ําเสมอ
    </p>
    <p>
        5. ช่วยกันประหยัดพลังงาน เมื่อเลิกใช้
    </p>
    <p>
        6. นักศึกษาต้องพกบัตรประจําหอพักหรือบัตรอื่น ๆ ที่แสดงว่าเป็นนักศึกษาหอพักชาย วิทยาเขตภูเก็ต ติดตัวเพื่อใหตรวจสอบได้เสมอ
    </p>
    <p>
        7. นักศึกษาต้องเข้าร่วมประชุมหอพักทุกครั้ง
    </p>
    <p>
        8. นักศึกษาตองชําระค่าบํารุงหอพัก ตามวันและเวลาที่กําหนดไว้เท่านั้น
    </p>
    <p>
        9. ห้ามกระทําการใด ๆ ที่เกิดเหตุเสียหายแก่หอพัก
    </p>
    <p>
        10. ห้ามเล่นการพนัน สูบบุหรี่ เสพสุราหรือของมึนเมา รวมทั้งสิ่งเสพยาติดทุกชนิดภายในบริเวณหอพัก
    </p>
    <p>
        11. หามนําบุคคลภายนอกเขามาคางคืน โดยเด็ดขาด หากฝ่าฝืนจะมีโทษทางวินัยนักศึกษา
    </p>
    <p>
        12. หามกระทําการใด ๆ ที่เป็นการรบกวนผูอื่น
    </p>
    <br>
    <h4>สิ่งอํานวยความสะดวก ภายในหอพักนักศึกษา</h4>
   <p> ครุภัณฑ์ประจําห้องพัก </p>
   <p> 1. ตู้เสื้อผา</p>
   <p> 2. โต๊ะอ่านหนังสือพร้อมเก้าอี้ </p>
   <p>3. เตียงเดี่ยวพร้อมเบาะนอน </p>
   <p>4. จุดเชื่อมต่ออินเตอร์เน็ต</p>
   <p>5. อ่างล้างหนาและกระจกบริเวณระเบียงทุกห้อง</p>
    <p>
    หมายเหตุ : หองน้ํา หองอาบน้ําและอ่างซักผ้า ได้จัดไว้
    ส่วนกลางของทุก ๆ ชั้น</p>
<div class="item">
    <img src="~/Content/Image/01.png"> <img src="~/Content/Image/02.png"> <img src="~/Content/Image/03.png"alt="Chania" style="width:328px; height:228px">
</div>
<br>
<h4>ค่าธรรมเนียมหอพักนักศึกษาชาย</h4>
<p>
    • ภาคการศึกษาปกติ หองธรรมดา
    ภาคเรียนละ 4,300 บาท / คน / เทอม
</p>
   <p>
    • ภาคการศึกษาปกติ หองปรับอากาศ
</p>
    <p>
    ภาคเรียนละ 7,000 บาท / คน / เทอม
</p>
    <p>
    • ภาคการศึกษาฤดูรอน หองธรรมดา
    ภาคเรียนละ 2,000 บาท / คน / เทอม
</p>
    <p>
    • ในระหว่างปิดภาคการศึกษา
    วันละ 35 บาท / คน / เทอม
</p>
    <p>
    • นักศึกษา นักเรียนภายนอกมหาวิทยาลัยฯ
    วันละ 50 บาท / คน / คืน
</p>
    <p>
    • บุคคลทั่วไป วันละ 50 บาท / คน / คืน
</p>
    <p>
    • ค่าไฟฟ้า คิดตามอัตราที่การไฟฟ้าฯ เรียกเก็บ
    ยูนิตละ 5 บาท / หน่วย / เดือน
</p>
    <p>
    • ค่าน้ําประปา คิดแบบเหมาจ%าย
    คนละ 35 บาท / คน / เดือน
</p>
    <p>
    • ค่าบํารุงกิจกรรมหอพักนักศึกษาชาย
    คนละ 200 บาท / คน / ปีการศึกษา
    ( ชําระ ณ สํานักงานหอพักนักศึกษาชาย )
</p>

