@{
    ViewBag.Title = "ข้อมูลติดต่อ";
}

<br>
<h2>@ViewBag.Title.</h2>
<br>
<div class="item">
    <img src="~/Content/Image/kon2.jpg" alt="Chania" style="width:200px; height:240px">
</div>
<br>
<h4>ที่อยู่ </h4> <p>80/1 ม.1 ถ.วิชิตสงคราม ต.กะทู้ อ.กะทู้ จ.ภูเก็ต 83120</p> 
<h4>ติดต่อสอบถาม </h4> <p>นายธีรยุทธ์ ธัญญา ( เจ้าหน้าที่ )</p>
<h4>เบอร์โทร </h4><p>086-978-5765 (ติดต่อในเวลาราชการเท่านั้น)</p>
<address>
    <strong>Email:</strong>   <a href="teerayut.t@phuket.psu.ac.th ">teerayut.t</a><br /> 
    <strong>FaceBook:</strong>   <a href="https://www.facebook.com/kon.zone?fref=ts">Teerayut Tanya</a><br />
</address>
