@{
    ViewBag.Title = "Home Page";
}


<br>
<br>


    <div id="myCarousel" class="carousel slide col-md-12" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
           
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="http://web.phuket.psu.ac.th/web52/File_attach_news/2541.pdf">
                <img src="~/Content/Image/img2.png" alt="Chania" style="width:1180px; height:350px">
                </a>  
        </div>

            <div class="item">
               
                <a href="http://www.phuket.psu.ac.th/index1.php">
                    <img src="~/Content/Image/img3.png" alt="Chania" style="width:1180px; height:350px">
                </a>
             </div>

            <div class="item">
                <a href="http://web52.phuket.psu.ac.th/student_admissions/">
                    <img src="~/Content/Image/img4.png" alt="Flower" style="width:1180px; height:350px">
                    </a>
            </div>
           </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<br>
  <div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" align="center">
            <p> <img src="~/Content/dorm/1.png" style="width:350px; height:200px;" /></p>
            <div class="caption">
                <h3>หอพักนักศึกษาในกำกับฯ 1,2 มหาวิทยาลัยสงขลานครินทร์</h3>
                <p>.....</p>
                <p><a href="http://web52.phuket.psu.ac.th/dormitory1-2-3/Dormitory1,2.htm" class="btn btn-success" role="button"><i class="glyphicon glyphicon-link"> </i>View</a> <a href="https://www.facebook.com/dormhkt/" class="btn btn-primary" role="button">Facebook</a></p>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" align="center">
            <p> <img src="~/Content/dorm/2.png" style="width:350px; height:200px;" /> </p>
            <div class="caption">
                <h3>หอพักนักศึกษาในกำกับ 3 มหาวิทยาลัยสงขลานครินทร์</h3>
                <p>.....</p>
                <p><a href="http://web52.phuket.psu.ac.th/dormitory1-2-3/Dormitory3.htm" class="btn btn-success" role="button"><i class="glyphicon glyphicon-link"> </i>View</a> <a href="https://www.facebook.com/hktdorm" class="btn btn-primary" role="button">Facebook</a></p>

            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" align="center">
            <p> <img src="~/Content/dorm/3.png" style="width:350px; height:200px;" /> </p>
            <div class="caption">
                <h3>ข่าวสารหอพัก มหาวิทยาลัยสงขลานครินทร์</h3>
                <p>...</p>
                <p><a href="http://web52.phuket.psu.ac.th/dormitory1-2-3/Dormitory_Activities.htm" class="btn btn-success" role="button"><i class="glyphicon glyphicon-link"> </i>View</a> <a href="https://www.facebook.com/groups/135154656677876/?fref=ts" class="btn btn-primary" role="button">Facebook</a></p>

            </div>
        </div>
    </div>
</div>
      